
@{
    ViewBag.Title = "EditProduct";
}

<h2>EditProduct</h2>
@using Task_3.EF;

@{
    ASP_NET_TEST_2Entities db = new ASP_NET_TEST_2Entities();
    List<Category> categories = db.Categories.ToList();

    bool GetCategory(int c)
    {
        if (Model.Cid != null && Model.Cid == c)
        {
            return true;
        }
        return false;
    }

}

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    Name: <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name" />
    Price: <input type="number" name="Price" value="@Model.Price" class="form-control" placeholder="Price" />
    Qty: <input type="number" name="Qty" value="@Model.Qty" class="form-control" placeholder="Qty" />
    Category:
    <select class="form-control" name="Cid">
        <option disabled selected>--Select Category--</option>
        @foreach (var c in categories)
        {
            <option selected="@GetCategory(c.Id)" value="@c.Id">@c.Name</option>
        }
    </select>

    <input type="submit" value="Edit" class="btn btn-success" />
</form>